.App {
  text-align: center;
}

.image-container {
  height: 600px;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 1em; 
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.orange-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pink-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 13, 224, 0.5);
  transform: translate(-100%, 0);
}

.yellow-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}